* {
    background-color: rgb(188, 202, 245);
    padding: 0;
    margin: 0;
}
.container{
  display: grid;
  grid-template: 40px 360px 350px/ 1fr 1fr 1fr;
  margin:0 auto;
  grid-template-areas: "header header header"
                       "img-container1 img-container2 img-container3"
                       "img-container4 img-container5 img-container6";
}

.header{
  width: 1600px;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: header;
}

ul{
  list-style: none;
}
.nav li span{
  background-color: rgb(23, 75, 186);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 24px;
  display: block;
}
.nav li span:hover{
  background-color: rgb(9, 12, 73);
  cursor: pointer;
}
.nav > li{
  float: left;
}

.nav ul li label{
  background-color: rgb(40, 69, 149);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
}
.nav li ul{
  display: none;
  position: absolute;
  min-width: 160px;
}
.nav li:hover > ul{
  display: block;
}
.nav li ul li{
  position: relative;
}
.nav li ul li ul{
  right: -160px;
  top: 0;
}
.im-container1{

  grid-area: img-container1;
  
}
.im-container2{
  grid-area: img-container2;
  color: rgb(255, 255, 255);
}

#color{
  padding: 2px 20px;
  background-color: rgba(255, 255, 255, 0);
}